@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: #dc2626;
  --secondary-color: #fee2e2;
  --ff: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--ff);
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

small {
  font-weight: 400;
}

h2 {
  padding: 1rem 0;
}

input {
  width: 60%;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  display: block;
  border: none;
  border-radius: 5px;
  margin: 1.5rem auto;
  padding: 10px 50px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

button:hover {
  color: yellow;
}

table {
  margin: auto;
}

table,
tr,
th,
td {
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

.navigation {
  display: flex;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 5px auto;
  padding: 5px 0;
  text-align: center;
}

.form-container {
  margin: 1rem;
  display: flex;
  padding: 1rem;
}

.form,
.cash-drawer {
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 5px 5px 5px #9ca3af;
  float: left;
}

.return-balance {
  text-align: center;
  margin: auto;
  padding: 1rem 0;
}
